@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,300);html body{padding:0;background:#f1f1f1;font-family:"Roboto",sans-serif;font-weight:normal;font-size:13px;color:rgba(0,0,0,0.5)}html .video_thumbnail_320_180{width:360px;max-height:180px;box-shadow:4px 8px 8px rgba(0,0,0,0.4)}html .video_description{text-align:justify;margin-top:10px;margin-bottom:10px;font-size:12px !important}html .video_description p{font-size:12px}
/*# sourceMappingURL=kaplan.css.map */
