@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,300)


@mixin box-shadow($top, $left, $blur, $color, $inset:"")
  -webkit-box-shadow: $top $left $blur $color #{$inset}
  -moz-box-shadow: $top $left $blur $color #{$inset}
  box-shadow: $top $left $blur $color #{$inset}



/* Standart defenitions */
$bodyBackground: rgba(241, 241, 241,1)
$bodyForeground: rgba(0, 0, 0, 0.5)
$textColor: rgba(10,10,10,0.9)
$regularLink: rgb(12, 115, 189)
$appHeader: rgb(10, 75, 136)
$green: rgb(22, 145, 90)
$red: rgb(160,10,10)


html
  body
    padding: 0
    background: $bodyBackground
    font-family: 'Roboto', sans-serif
    font-weight: normal
    font-size: 13px
    color: $bodyForeground


  .video_thumbnail_320_180
    width: 360px
    max-height: 180px
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4)

  .video_description
    text-align: justify
    margin-top: 10px
    margin-bottom: 10px
    font-size: 12px !important
    p
      font-size: 12px



